.about-info1 button{
    background:none;
    border: 0;

}

#dropdownButton2 {
    cursor: pointer;
}

#dropdownMenu2 {
    margin-top: 64px;
    margin-right: -121px;
    float: right;
    width: 150px;
    background-color: #fffefb;
    display: none;
    list-style-type: none;
    padding: 10px;
}

.dropdownMenu2 a li{
    font-size: 15px;
    color: #181818;
    transition: 0.3s;
}


#dropdownButton3 {
    cursor: pointer;
}

#dropdownMenu3 {
    margin-top: 64px;
    margin-right: -121px;
    float: right;
    width: 150px;
    background-color: #fffefb;
    display: none;
    list-style-type: none;
    padding: 10px;
}

.dropdownMenu3 a li{
    font-size: 15px;
    color: #181818;
    transition: 0.3s;
}






#dropdownButton4 {
    cursor: pointer;
}

#dropdownMenu4 {
    margin-top: 64px;
    margin-right: -121px;
    float: right;
    width: 150px;
    background-color: #fffefb;
    display: none;
    list-style-type: none;
    padding: 10px;
}

.dropdownMenu4 a li{
    font-size: 15px;
    color: #181818;
    transition: 0.3s;
}




#dropdownButton5 {
    cursor: pointer;
}

#dropdownMenu5 {
    margin-top: 64px;
    margin-right: -121px;
    float: right;
    width: 150px;
    background-color: #fffefb;
    display: none;
    list-style-type: none;
    padding: 10px;
}

.dropdownMenu5 a li{
    font-size: 15px;
    color: #181818;
    transition: 0.3s;
}





#dropdownButton6 {
    cursor: pointer;
}

#dropdownMenu6 {
    margin-top: 64px;
    margin-right: -121px;
    float: right;
    width: 150px;
    background-color: #fffefb;
    display: none;
    list-style-type: none;
    padding: 10px;
}

.dropdownMenu6 a li{
    font-size: 15px;
    color: #181818;
    transition: 0.3s;
}





#dropdownButton7 {
    cursor: pointer;
}

#dropdownMenu7 {
    margin-top: 22px;
    margin-right: -156px;
    float: right;
    width: 150px;
    background-color: #fffefb;
    display: none;
    list-style-type: none;
    padding: 10px;
}

.dropdownMenu7 a li{
    font-size: 15px;
    color: #181818;
    transition: 0.3s;
}




#dropdownButton9 {
    cursor: pointer;
}

#dropdownMenu9 {
    margin-top: 22px;
    margin-right: -156px;
    float: right;
    width: 150px;
    background-color: #fffefb;
    display: none;
    list-style-type: none;
    padding: 10px;
}

.dropdownMenu9 a li{
    font-size: 15px;
    color: #181818;
    transition: 0.3s;
}




#dropdownButton10 {
    cursor: pointer;
}

#dropdownMenu10 {
    margin-top: 22px;
    margin-right: -156px;
    float: right;
    width: 150px;
    background-color: #fffefb;
    display: none;
    list-style-type: none;
    padding: 10px;
}

.dropdownMenu10 a li{
    font-size: 15px;
    color: #181818;
    transition: 0.3s;
}



























